{
	"MODE": "LLVM",
	"RANDOLLVM_ROOT": "/evaldisk/akul/BingeSP/Binge-Cornucopia/",
	"SERVER_URL": "http://128.46.36.110:5002",
	"ITERATIONS": 2000,
	"FUZZING_TIME": 10800, 
	"DOWNLOADS": "/evaldisk/akul/BingeSP/Binge-Cornucopia/fitness_wrapper/uploaded_files/",
	"ARCH": "mips",
	"FITNESS_FUNCTION": "ncd",
	"SOURCE"          : "/evaldisk/akul/BingeSP/Binge-Cornucopia/afl_sources/free.bc",
	"THREADS"         : "60"
}
